@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    background-image: linear-gradient(135deg, #FCCF31 15%, #F55555 100%);
    box-shadow: 6px 7px 8px 0px rgba(100, 100, 111, 0.2);
}


.header .time {
    margin-left: 2rem;
}

.header .titler {
    flex-grow: 1;
    text-align: center;
}

.day_dark {
    margin-right: 4rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Additional styles for dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.header.dark-mode {
    background-color: #333;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15rem;
    top: 3rem;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(120deg, #e0c3fc, #8ec5fc 100%)
}

.nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav img {
    padding-top: 1.4rem;
    width: 50%;
    border-radius: 50%;
}

.nav h3 {
    text-align: center;
    margin: 0.75rem;
}

.nav .nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.nav .nav_list div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2.5rem;
    /* border: 1px solid #ff0000; */
    text-align: center;
    margin: 0.1rem 0;
    border-radius: 5px;
    /* font-size: x-large; */
    background-image: linear-gradient(#c4f4fe, #fdefbe 100%);
    cursor: pointer;
    font-weight: bold;
}

.nav .nav_list div:hover {
    background-image: linear-gradient(135deg, #43CBFF 15%, #9708CC 100%)
}