@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,600,700|Lora:400,400i,700,700i|IBM+Plex+Sans:300,400,400i,600,700,900");

.article {
    margin-left: 15rem;
    margin-top: 3rem;
    padding-top: 20px;
    border: 1px solid red;
    height: auto;
    display: flex;
    flex-direction: column;
}

.entry__title {
    font-family: "Heebo", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.231;
    margin-top: 0;
    margin-bottom: .8rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.entry__header-meta {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 50;
    line-height: 1.778;
    display: flex;
    justify-content: center;
}

.entry__header-meta li {
    display: inline-block;
    padding-left: 0;
    margin: 0 .8rem;
}

.entry__content {
    padding: 0 50px;
}

.entry__content p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.833;
    margin-bottom: 3rem;
}

.entry__content span {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.entry__content img {
    width: 100%;
}


.codearea {
    margin: 20px 30px;
    /* border: 1px solid black; */
    height: auto;
}